/* Reset di base per uniformità */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo del documento */
html,
body {
    height: 100%;
    font-family: "Edu TAS Beginner", cursive;
    display: flex;
    flex-direction: column;
}

/* Header con sfondo personalizzato */
header {
    background: url(../img/wall.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 15px 0;
    color: black;
}

header h1 {
    font-weight: 700;
    font-size: 3.5rem;
    font-style: italic;
}

/* Area principale */
main {
    flex-grow: 1;
    /* Occupa lo spazio rimanente */
    background: url(../img/cork.png) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

/* Griglia per le card */
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tre colonne */
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

/* Stile delle card */
.card {
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
    height: 350px;
    transition: transform 0.3s ease;
    position: relative;
}

.card:hover {
    transform: rotate(10deg) scale(1.1);
    transition: transform 0.3s ease;
    z-index: 9000;
}

/* Contenuto della card */
.card-content {
    height: 280px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

/* Icona Pin */
.pin {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3 ease;
    opacity: 1;
}

/*Metodo per far sparire pin con hover*/
.card:hover .pin {
    opacity: 0;
}

/* Testo della card */
.card p {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
}

/*Media queries per rendere la pagina responsive*/
@media screen and (max-width: 768px) {
    .board {
        /*2 colonne*/
        grid-template-columns: repeat(2, 1fr);
        /*Diminuzione gap tra card*/
        gap: 15px;
    }
}

@media screen and (max-width: 576px) {
    .board {
        /*1 colonna*/
        grid-template-columns: 1fr;
        /*Diminuzione gap tra card*/
        gap: 10px;
    }
}